/* Whole body*/
body {
    background-color: rgb(220, 217, 223);
}
/* Title */
h1 {
    text-align: center;
    border: 1px solid rgb(185, 184, 184);
    background: rgb(228, 226, 226);
    border-radius: 20px;
    height: 40px;
    width: 600px;
    margin:0 auto;
}
/* Main content */
#main-content {
    border: 5px groove black;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/* Flex container */
.flex-container {
    display: flex;
    background: #fff;
    flex-wrap: wrap;
    flex-flow: row; /* Change the direction of boxes - column/row */
    /*justify-content: center; /* Justify works horizontaly, align-vertically */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content is responsible for content of box */
    /* justify-self is responsible for content of one element in the box */
    align-items: flex-start; /* Align ittems, content,self is responsible for vertical positioning of elements.  */
    /* There is a little bit difference if about columns or rows - as we will turn the gox 90degrees right so vertical == horizontal and opposite, sojustify, and align are working in opposite directions*/
    height: 600px;
}

/* needs to remember - flex-flow change the reflection/ dzwierciedlenie - of the flex net */
/* Boxes */
.box {
    height: 100px;
    flex:0 0 100px; /* 0-grow, 0-shrink, 100px- basis*/
}
/*Separately*/
.one {
    background: red;
    align-self: flex-start;
}
.two {
    background: green;
    align-self: center;
}
.three {
    background: blue;
    align-self: flex-end;
}